/* .Accordion {
    margin: 10px;
    max-width: 31vw;
    max-height: 576px;
    overflow: auto;
}

.FormControl {       
    margin-left: auto;
}

.InputLabel {
    justify-content: right;
}

.ListItem {
    justify-content: flex-end;
}

.MeasurementName {
    margin-inline-end: auto;
}

.Statistic {
    margin-right: 10px;
    color: seagreen;
}

.ChartButton {
    color: #1976d2;
} */